@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow: hidden;
  }
  /*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
        overflow-x: hidden;
    }
  }

*{
    padding: 0;
    margin: 0;
    /*font-family: 'Poppins', sans-serif;*/
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}



body{
    width: 100%;
    height: 100vh;
    background: #DEE0FF;
    background: linear-gradient(270deg, #DEE0FF, #FFB9D1);
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}


.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    cursor: pointer;
    font-family: "Krona One", sans-serif;
}


.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span{
    color: #0083c4;
}

.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #0083c4;
    font-size: 2rem;
    display: none;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: #0083c4;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
    font-family: 'Poppins', sans-serif;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #d1d1d1;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #9ba8f2;
    transition: 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

.nav-container .contact-btn a{
    color: #0083c4;
    transition: 0.3s linear;
    font-family: 'Poppins', sans-serif;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: transparent;
    color: #d1d1d1;
}

.nav-container .links a:hover{
    color: #d1d1d1;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

.dropdown .links a:hover{
    background-color: #8f58e4;
}

section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main-container .image{
    z-index: -1;
    width: 50%;
    cursor: pointer;
}

.main-container .image img{
    width: 75%;
    border-radius: 30px;
    cursor: pointer;
}

.main-container .content{
    color: black;
    width: 40%;
    min-height: 100px;
    font-family: 'Poppins', sans-serif;
}

.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
    font-family: 'Poppins', sans-serif;
}

.content h1 span{
    color: #0083c4;
    text-shadow: 0 0 10px #c19ef7;
    font-family: 'Poppins', sans-serif;
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
    font-family: 'Poppins', sans-serif;
}

.content .typewriter span{
    color: #0083c4;
    font-size: 2.5rem;
    text-shadow: 0 0 5px #c19ef7;
    position: relative;
    transition: 0.3s linear;
    font-family: 'Poppins', sans-serif;
}

.typewriter span::before{
    content: "Developer";
    animation: words 15s infinite;
}

.typewriter span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #8f58e4;
    animation:  cursor 0.6s linear infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid #c19ef7;
    }
}

@keyframes words {
    0%, 50%{
        content: "Developer";
    }
    51%, 99%{
        content: "P-editor";
    }
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    color: #0083c4;

}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid #0083c4;
    border-radius: 50%;
    color: #0083c4;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: transparent;
}

.content button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background: #DAC7FF;
    background: linear-gradient(270deg, #DAC7FF, #FFCFF6);
    color: #000;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.2s linear;
    cursor: pointer;
}

.content button:hover{
 scale: 1.1;
 color: #000;
 background-color: transparent;
 font-weight: 700;

}

/*=============== BASE ===============*/
.card__article img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin: 50px 0;
  margin: auto;
}

.container-title-projects {
margin: 60px 10px;
font-weight: 900;
font-size: 67px;
font-family: "Krona One", sans-serif;
color: #0083c4;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  color: #0083c4;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: #0083c4;
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: #e0c3d6;
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/*end page*/
.footer {
  position: relative;
  width: 100%;                                            
  min-height: 100px;
  background: #DEE0FF;
  background: linear-gradient(270deg, #DEE0FF, #FFB9D1);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: #7482ec;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu2 {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}
.menu-icon {
  color: #7482ec;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  transition: 0.3s;
}

.menu-icon:hover {
  color: #d1d1d1;
}

.text {
  color: #7482ec;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}



/* media queris*/
@media (max-width:884px) {
    body{
        overflow-y: visible;
    }

    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,.cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .cancel{
        color: white;
    }

    .main-container .image{
        width: 80%;
        margin-bottom: 0px;
    }
}


